{% extends 'password/password_base.html' %}
{% load widget_tweaks %}
{% block content %}

<div style="width:35%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%); ">
  <form action="" method='POST'>
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {% render_field field class="form-control" autocomplete="off" %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    <input class="form-control btn btn-sm btn-primary border rounded-pill" type="submit" value="Change Password">
  </form>
</div>

{% endblock %}